<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="unna">
	<xacro:macro name="unna-ros2_control_gazebo" params="prefix='' name='unna' suffix=''"></xacro:macro>
	<xacro:macro name="unna-gz_reference" params="prefix='' name='unna' suffix=''"></xacro:macro>
</robot>