<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="movingshelf_4wheels">
	<xacro:include filename="$(find transbot_description)/urdf/movingshelf_4wheels/movingshelf_4wheels.urdf.xacro"></xacro:include>
	<xacro:movingshelf_4wheels prefix="" name=""></xacro:movingshelf_4wheels>
</robot>