<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="shelf_lifter">
	<xacro:macro name="shelf_lifter" params="prefix='' name='shelf_lifter' suffix=''">
		<link name="${prefix}${name}${suffix}_"></link>
		<xacro:include filename="$(find transbot_description)/urdf/shelf_lifter/mobilebase/mobilebase.urdf.xacro"></xacro:include>
		<xacro:include filename="$(find transbot_description)/urdf/shelf_lifter/lifter.urdf.xacro"></xacro:include>
		<joint name="j/${prefix}${name}${suffix}mobilebase/_" type="fixed">
			<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"></origin>
			<parent link="${prefix}${name}${suffix}_"></parent>
			<child link="${prefix}${name}${suffix}mobilebase/_"></child>
		</joint>
		<joint name="j/${prefix}${name}${suffix}lifter" type="prismatic">
			<origin xyz="0.0 0.0 0.3" rpy="0.0 0.0 0.0"></origin>
			<parent link="${prefix}${name}${suffix}_"></parent>
			<child link="${prefix}${name}${suffix}lifter"></child>
			<axis xyz="0 0 1"></axis>
			<limit lower="-0.005" upper="0.1" effort="1000000.0" velocity="1000000.0"></limit>
		</joint>
		<xacro:mobilebase prefix="${prefix}${name}${suffix}" suffix="/"></xacro:mobilebase>
		<xacro:lifter prefix="${prefix}${name}${suffix}" suffix=""></xacro:lifter>
	</xacro:macro>
</robot>