<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="chassis">
	<xacro:macro name="chassis-ros2_control_gazebo" params="prefix='' name='chassis' suffix=''"></xacro:macro>
	<xacro:macro name="chassis-gz_reference" params="prefix='' name='chassis' suffix=''"></xacro:macro>
</robot>