<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="movingshelf_trailertype_cyl">
	<xacro:macro name="movingshelf_trailertype_cyl" params="prefix='' name='movingshelf_trailertype_cyl' suffix=''">
		<link name="${prefix}${name}${suffix}_">
			<inertial density="7850">
				<origin xyz="0.19527435657328707 0.0005163112374963201 0.4250460222328864" rpy="0 0 0"></origin>
				<mass value="1.8074444184700649"></mass>
				<inertia ixx="0.04687666873005347" ixy="-6.039587533061011e-05" ixz="0.017746123295539318" iyy="0.12229586472532983" iyz="4.668466723475325e-05" izz="0.14259514277570168"></inertia>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="package://transbot_description/meshes/movingshelf_trailertype_cyl/_.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
				<material name="">
					<color rgba="1 1 1 1"></color>
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="package://transbot_description/meshes/movingshelf_trailertype_cyl/_.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
			</collision>
		</link>
		<xacro:include filename="$(find transbot_description)/urdf/movingshelf_trailertype_cyl/castor/castor.urdf.xacro"></xacro:include>
		<joint name="j/${prefix}${name}${suffix}castor0/_" type="fixed">
			<origin xyz="-0.25 0.25 0.13" rpy="0.0 0.0 0.0"></origin>
			<parent link="${prefix}${name}${suffix}_"></parent>
			<child link="${prefix}${name}${suffix}castor0/_"></child>
		</joint>
		<joint name="j/${prefix}${name}${suffix}castor1/_" type="fixed">
			<origin xyz="-0.25 -0.25 0.13" rpy="0.0 0.0 0.0"></origin>
			<parent link="${prefix}${name}${suffix}_"></parent>
			<child link="${prefix}${name}${suffix}castor1/_"></child>
		</joint>
		<xacro:castor prefix="${prefix}${name}${suffix}" suffix="0/"></xacro:castor>
		<xacro:castor prefix="${prefix}${name}${suffix}" suffix="1/"></xacro:castor>
	</xacro:macro>
</robot>