<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="doublebar">
	<xacro:macro name="doublebar" params="prefix='' name='doublebar' suffix=''">
		<link name="${prefix}${name}${suffix}_">
			<inertial density="7850">
				<origin xyz="-0.008635962594894978 2.2779302906492143e-10 -4.791776038082412e-10" rpy="0 0 0"></origin>
				<mass value="0.025343882346836228"></mass>
				<inertia ixx="0.0004046535356868238" ixy="1.3055853654899202e-14" ixz="2.1266118866921296e-13" iyy="1.3845710803626174e-05" iyz="-4.3368089665789023e-14" izz="0.0004172676675035086"></inertia>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/pullingclaw_dsusprr/mobilebase/doublebar/_.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
				<material name="">
					<color rgba="0 1 1 1"></color>
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/pullingclaw_dsusprr/mobilebase/doublebar/_.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
			</collision>
		</link>
		<xacro:include filename="$(find transbot_description)/urdf/pullingclaw_dsusprr/mobilebase/doublebar/diff/diff.urdf.xacro"></xacro:include>
		<joint name="j/${prefix}${name}${suffix}diff/_" type="continuous">
			<origin xyz="-0.1 0.0 0.0" rpy="0.0 0.0 0.0"></origin>
			<parent link="${prefix}${name}${suffix}_"></parent>
			<child link="${prefix}${name}${suffix}diff/_"></child>
			<dynamics damping="10" friction="10"></dynamics>
			<axis xyz="1 0 0"></axis>
		</joint>
		<xacro:diff prefix="${prefix}${name}${suffix}" suffix="/"></xacro:diff>
	</xacro:macro>
</robot>