<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="finger">
	<xacro:macro name="finger-ros2_control_gazebo" params="prefix='' name='finger' suffix=''"></xacro:macro>
	<xacro:macro name="finger-gz_reference" params="prefix='' name='finger' suffix=''"></xacro:macro>
</robot>