<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="manipulator">
	<xacro:macro name="manipulator-ros2_control_gazebo" params="prefix='' name='manipulator' suffix=''">
		<joint name="j/${prefix}${name}${suffix}horquilla">
			<state_interface name="position">
				<param name="initial_value">0.0</param>
			</state_interface>
			<state_interface name="velocity"></state_interface>
			<state_interface name="effort"></state_interface>
			<command_interface name="velocity"></command_interface>
			<command_interface name="effort"></command_interface>
		</joint>
		<joint name="j/${prefix}${name}${suffix}unna0">
			<state_interface name="position">
				<param name="initial_value">0.0</param>
			</state_interface>
			<state_interface name="velocity"></state_interface>
			<state_interface name="effort"></state_interface>
			<command_interface name="velocity"></command_interface>
			<command_interface name="effort"></command_interface>
		</joint>
		<joint name="j/${prefix}${name}${suffix}unna1">
			<state_interface name="position">
				<param name="initial_value">0.0</param>
			</state_interface>
			<state_interface name="velocity"></state_interface>
			<state_interface name="effort"></state_interface>
		</joint>
	</xacro:macro>
</robot>
