<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="link2">
	<xacro:macro name="link2-ros2_control_gazebo" params="prefix='' name='link2' suffix=''"></xacro:macro>
	<xacro:macro name="link2-gz_reference" params="prefix='' name='link2' suffix=''"></xacro:macro>
</robot>