<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="chassis">
	<xacro:macro name="chassis" params="prefix='' name='chassis' suffix=''">
		<link name="${prefix}${name}${suffix}">
			<inertial density="7850">
				<origin xyz="-2.034294682231643e-07 1.0171473411158215e-07 0.2282739023183229" rpy="0 0 0"></origin>
				<mass value="2.2890552257498107"></mass>
				<inertia ixx="0.2027274400644442" ixy="-7.761068819743012e-09" ixz="-1.0581325537136581e-07" iyy="0.1935426747453437" iyz="-8.939012034876226e-09" izz="0.3136757140357105"></inertia>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/rigid_forklift_wide/mobilebase/chassis.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
				<material name="">
					<color rgba="1 1 0 1"></color>
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/rigid_forklift_wide/mobilebase/chassis.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
			</collision>
		</link>
	</xacro:macro>
</robot>