<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mobilebase">
	<xacro:include filename="$(find transbot_description)/urdf/rigid_forklift_dsusp_rr_inner/mobilebase.urdf.xacro"></xacro:include>
	<xacro:mobilebase prefix="" name=""></xacro:mobilebase>
</robot>