<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mobilebase_diffdrive_6wheels_ltype_csuspp">
	<xacro:include filename="$(find transbot_description)/urdf/mobilebase_diffdrive_6wheels_ltype_csuspp/mobilebase_diffdrive_6wheels_ltype_csuspp.urdf.xacro"></xacro:include>
	<xacro:mobilebase_diffdrive_6wheels_ltype_csuspp prefix="" name=""></xacro:mobilebase_diffdrive_6wheels_ltype_csuspp>
</robot>