<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wheel">
	<xacro:macro name="wheel" params="prefix='' name='wheel' suffix=''">
		<link name="${prefix}${name}${suffix}">
			<inertial density="2500">
				<origin xyz="1.0821533058116455e-11 -3.3899456255370624e-10 -2.110198946332709e-10" rpy="0 0 0"></origin>
				<mass value="0.437733872483174"></mass>
				<inertia ixx="0.00046364856795359316" ixy="-4.0216961721366314e-12" ixz="-3.552713688796411e-13" iyy="0.0004636485679535932" iyz="4.626242400432536e-16" izz="0.0008105681748323452"></inertia>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/rigid_forklift_dsusp_rr_inner/mobilebase/doublebar/diff/wheel.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
				<material name="">
					<color rgba="0.2 0.2 0.2 1"></color>
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/rigid_forklift_dsusp_rr_inner/mobilebase/doublebar/diff/wheel.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
			</collision>
		</link>
	</xacro:macro>
</robot>