<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pullingclaw_dsusprr">
	<xacro:include filename="$(find transbot_description)/urdf/pullingclaw_dsusprr/pullingclaw_dsusprr.urdf.xacro"></xacro:include>
	<xacro:pullingclaw_dsusprr prefix="" name=""></xacro:pullingclaw_dsusprr>
</robot>