<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pullingclaw_dsusprr">
	<xacro:macro name="pullingclaw_dsusprr" params="prefix='' name='pullingclaw_dsusprr' suffix=''">
		<link name="${prefix}${name}${suffix}_"></link>
		<xacro:include filename="$(find transbot_description)/urdf/pullingclaw_dsusprr/mobilebase/mobilebase.urdf.xacro"></xacro:include>
		<xacro:include filename="$(find transbot_description)/urdf/pullingclaw_dsusprr/manipulator/manipulator.urdf.xacro"></xacro:include>
		<joint name="j/${prefix}${name}${suffix}mobilebase/_" type="fixed">
			<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 3.141592653589793"></origin>
			<parent link="${prefix}${name}${suffix}_"></parent>
			<child link="${prefix}${name}${suffix}mobilebase/_"></child>
		</joint>
		<joint name="j/${prefix}${name}${suffix}manipulator/_" type="fixed">
			<origin xyz="0.2 0.0 0.45" rpy="0.0 0.0 0.0"></origin>
			<parent link="${prefix}${name}${suffix}_"></parent>
			<child link="${prefix}${name}${suffix}manipulator/_"></child>
		</joint>
		<xacro:mobilebase prefix="${prefix}${name}${suffix}" suffix="/"></xacro:mobilebase>
		<xacro:manipulator prefix="${prefix}${name}${suffix}" suffix="/"></xacro:manipulator>
	</xacro:macro>
</robot>