<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="table">
	<xacro:macro name="table-ros2_control_gazebo" params="prefix='' name='table' suffix=''"></xacro:macro>
	<xacro:macro name="table-gz_reference" params="prefix='' name='table' suffix=''"></xacro:macro>
</robot>