<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="link3">
	<xacro:macro name="link3-ros2_control_gazebo" params="prefix='' name='link3' suffix=''"></xacro:macro>
	<xacro:macro name="link3-gz_reference" params="prefix='' name='link3' suffix=''"></xacro:macro>
</robot>