<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="movingshelf_4wheels_low_lifter">
	<xacro:include filename="$(find transbot_description)/urdf/movingshelf_4wheels_low_lifter/movingshelf_4wheels_low_lifter.urdf.xacro"></xacro:include>
	<xacro:movingshelf_4wheels_low_lifter prefix="" name=""></xacro:movingshelf_4wheels_low_lifter>
</robot>