<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diff">
	<xacro:macro name="diff" params="prefix='' name='diff' suffix=''">
		<link name="${prefix}${name}${suffix}_">
			<inertial density="7850">
				<origin xyz="1.852315893480652e-11 1.1762205923602143e-09 1.5292459534653747e-10" rpy="0 0 0"></origin>
				<mass value="0.25573130308960873"></mass>
				<inertia ixx="0.014335833007805832" ixy="5.571699983686615e-21" ixz="3.110937506024714e-14" iyy="1.2693432438481969e-05" iyz="-6.2468548392250425e-12" izz="0.01433583301206909"></inertia>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/rigid_forklift_wide/mobilebase/diff/_.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
				<material name="">
					<color rgba="1 1 0 1"></color>
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/rigid_forklift_wide/mobilebase/diff/_.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
			</collision>
		</link>
		<xacro:include filename="$(find transbot_description)/urdf/rigid_forklift_wide/mobilebase/diff/wheel.urdf.xacro"></xacro:include>
		<joint name="j/${prefix}${name}${suffix}wheel0" type="continuous">
			<origin xyz="0.0 -0.38 0.0" rpy="-1.5707963267948966 0.0 0.0"></origin>
			<parent link="${prefix}${name}${suffix}_"></parent>
			<child link="${prefix}${name}${suffix}wheel0"></child>
			<axis xyz="0 0 1"></axis>
		</joint>
		<joint name="j/${prefix}${name}${suffix}wheel1" type="continuous">
			<origin xyz="0.0 0.38 0.0" rpy="-1.5707963267948966 0.0 0.0"></origin>
			<parent link="${prefix}${name}${suffix}_"></parent>
			<child link="${prefix}${name}${suffix}wheel1"></child>
			<axis xyz="0 0 1"></axis>
		</joint>
		<xacro:wheel prefix="${prefix}${name}${suffix}" suffix="0"></xacro:wheel>
		<xacro:wheel prefix="${prefix}${name}${suffix}" suffix="1"></xacro:wheel>
	</xacro:macro>
</robot>