<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="claw">
	<xacro:macro name="claw-ros2_control_gazebo" params="prefix='' name='claw' suffix=''"></xacro:macro>
	<xacro:macro name="claw-gz_reference" params="prefix='' name='claw' suffix=''"></xacro:macro>
</robot>