<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="slider">
	<xacro:macro name="slider-ros2_control_gazebo" params="prefix='' name='slider' suffix=''"></xacro:macro>
	<xacro:macro name="slider-gz_reference" params="prefix='' name='slider' suffix=''"></xacro:macro>
</robot>