<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wheel">
	<xacro:macro name="wheel" params="prefix='' name='wheel' suffix=''">
		<link name="${prefix}${name}${suffix}">
			<inertial density="2500">
				<origin xyz="1.0145187241984178e-11 -3.3865903162148433e-10 -2.110198946332709e-10" rpy="0 0 0"></origin>
				<mass value="0.437733872483174"></mass>
				<inertia ixx="0.00046364856795359316" ixy="-4.0227080940624326e-12" ixz="-3.5527136881716666e-13" iyy="0.0004636485679535932" iyz="3.128212292636545e-20" izz="0.0008105681748323452"></inertia>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="package://transbot_description/meshes/shelf_lifter/mobilebase/doublebar/diff/wheel.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
				<material name="">
					<color rgba="0.2 0.2 0.2 1"></color>
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="package://transbot_description/meshes/shelf_lifter/mobilebase/doublebar/diff/wheel.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
			</collision>
		</link>
	</xacro:macro>
</robot>