<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="portico">
	<xacro:macro name="portico" params="prefix='' name='portico' suffix=''">
		<link name="${prefix}${name}${suffix}">
			<inertial density="7850">
				<origin xyz="6.16857676070328e-10 0.0 0.8229599125021437" rpy="0 0 0"></origin>
				<mass value="1.4743995852768421"></mass>
				<inertia ixx="0.5457702315565264" ixy="-1.2126596023639044e-10" ixz="7.484776801922124e-10" iyy="0.3235510188676326" iyz="2.483526865641276e-07" izz="0.22467654562206008"></inertia>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/rigid_forklift_wide/manipulator/portico.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
				<material name="">
					<color rgba="0.7 0.2 0.2 1"></color>
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/rigid_forklift_wide/manipulator/portico.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
			</collision>
		</link>
	</xacro:macro>
</robot>