<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_arm_gripper">
	<xacro:include filename="$(find transbot_description)/urdf/robot_arm_gripper/robot_arm_gripper.urdf.xacro"></xacro:include>
	<xacro:robot_arm_gripper prefix="" name=""></xacro:robot_arm_gripper>
</robot>