<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="link2">
	<xacro:macro name="link2" params="prefix='' name='link2' suffix=''">
		<link name="${prefix}${name}${suffix}">
			<inertial density="7850">
				<origin xyz="0.056450215042177294 -0.033490648124281125 0.1647428500268251" rpy="0 0 0"></origin>
				<mass value="1.2395890274395545"></mass>
				<inertia ixx="0.007788687893755662" ixy="0.0018630966694110087" ixz="-0.002467116586706458" iyy="0.012667423368698215" iyz="0.0014636840058197906" izz="0.009228003879302643"></inertia>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/robot_arm_double/arm/link2.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
				<material name="">
					<color rgba="0 0 1 1"></color>
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/robot_arm_double/arm/link2.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
			</collision>
		</link>
	</xacro:macro>
</robot>