<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="link0">
	<xacro:macro name="link0" params="prefix='' name='link0' suffix=''">
		<link name="${prefix}${name}${suffix}">
			<inertial density="7850">
				<origin xyz="1.3363050599976428e-10 7.83421592426099e-10 0.0775319300078531" rpy="0 0 0"></origin>
				<mass value="1.16092626315852"></mass>
				<inertia ixx="0.010230603676813953" ixy="-4.535631117781683e-11" ixz="3.8187545937621756e-12" iyy="0.010230602464154349" iyz="-4.802650430198714e-12" izz="0.005150119492706532"></inertia>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/robot_arm_double/arm/link0.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
				<material name="">
					<color rgba="1 0 0 1"></color>
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/robot_arm_double/arm/link0.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
			</collision>
		</link>
	</xacro:macro>
</robot>