<?xml version="1.0"?>
<model>
  <name>canasto</name>
  <version>1.0.0</version>
  <sdf version="1.8">model.sdf</sdf>
  
  <author>
    <name>Tu Nombre</name>
    <email>tu.email@ejemplo.com</email>
  </author>
  
  <description>
    Un robot móvil con brazo manipulador.
    Incluye archivos STL para visualización.
  </description>
</model>