<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="control">
	<xacro:macro name="control" params="prefix='' name='control' suffix=''">
		<link name="${prefix}${name}${suffix}">
			<inertial density="7850">
				<origin xyz="-0.11800876511481027 0.09354560312818934 0.10163800234275462" rpy="0 0 0"></origin>
				<mass value="11.364147067070007"></mass>
				<inertia ixx="0.20224443786592244" ixy="0.04016673361813658" ixz="0.03380698382561664" iyy="0.1792783009602844" iyz="-0.02783002652166694" izz="0.2541928858214154"></inertia>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/rigid_forklift_dsusp_rr/mobilebase/control.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
				<material name="">
					<color rgba="1 0 0 1"></color>
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file:$(find transbot_description)/meshes/rigid_forklift_dsusp_rr/mobilebase/control.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
			</collision>
		</link>
	</xacro:macro>
</robot>