<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="doublebar">
	<xacro:include filename="$(find transbot_description)/urdf/rigid_forklift_dsusp_rr/mobilebase/doublebar.urdf.xacro"></xacro:include>
	<xacro:doublebar prefix="" name=""></xacro:doublebar>
</robot>