<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="shelf_trailer">
	<xacro:include filename="$(find transbot_description)/urdf/shelf_trailer/shelf_trailer.urdf.xacro"></xacro:include>
	<xacro:shelf_trailer prefix="" name=""></xacro:shelf_trailer>
</robot>