<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="movingshelf_trailertype">
	<xacro:include filename="$(find transbot_description)/urdf/movingshelf_trailertype/movingshelf_trailertype.urdf.xacro"></xacro:include>
	<xacro:movingshelf_trailertype prefix="" name=""></xacro:movingshelf_trailertype>
</robot>