<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wheel">
	<xacro:macro name="wheel" params="prefix='' name='wheel' suffix=''">
		<link name="${prefix}${name}${suffix}">
			<inertial density="2500">
				<origin xyz="1.4340148303551888e-09 -3.5090750499906038e-09 -2.852402266199148e-10" rpy="0 0 0"></origin>
				<mass value="0.4594138978670041"></mass>
				<inertia ixx="0.00047094974130837766" ixy="-1.5209132563311692e-11" ixz="1.9058826710217818e-12" iyy="0.00047094934719401157" iyz="-1.2603575130752765e-11" izz="0.0008008167848553598"></inertia>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="package://transbot_description/meshes/shelf_lifter/mobilebase/castor/wheel.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
				<material name="">
					<color rgba="0.2 0.2 0.2 1"></color>
				</material>
			</visual>
			<collision>
				<geometry>
					<mesh filename="package://transbot_description/meshes/shelf_lifter/mobilebase/castor/wheel.stl" scale="1e-3 1e-3 1e-3"></mesh>
				</geometry>
			</collision>
		</link>
	</xacro:macro>
</robot>