<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mobilebase">
	<xacro:include filename="$(find transbot_gazebo)/urdf/rigid_forklift_dsusp_rr/mobilebase/doublebar/doublebar.urdf.xacro"></xacro:include>
	<xacro:include filename="$(find transbot_gazebo)/urdf/rigid_forklift_dsusp_rr/mobilebase/castor/castor.urdf.xacro"></xacro:include>
	<xacro:macro name="mobilebase-ros2_control_gazebo" params="prefix='' name='mobilebase' suffix=''">
		<joint name="j/${prefix}${name}${suffix}doublebar/_">
			<state_interface name="position">
				<param name="initial_value">0.0</param>
			</state_interface>
			<state_interface name="velocity"></state_interface>
			<state_interface name="effort"></state_interface>
		</joint>
		<joint name="j/${prefix}${name}${suffix}control">
			<state_interface name="position">
				<param name="initial_value">0.0</param>
			</state_interface>
			<state_interface name="velocity"></state_interface>
			<state_interface name="effort"></state_interface>
			<command_interface name="position"></command_interface>
		</joint>
		<xacro:doublebar-ros2_control_gazebo prefix="${prefix}${name}${suffix}" suffix="/"></xacro:doublebar-ros2_control_gazebo>
		<xacro:castor-ros2_control_gazebo prefix="${prefix}${name}${suffix}" suffix="0/"></xacro:castor-ros2_control_gazebo>
		<xacro:castor-ros2_control_gazebo prefix="${prefix}${name}${suffix}" suffix="1/"></xacro:castor-ros2_control_gazebo>
	</xacro:macro>
	<xacro:macro name="mobilebase-gz_reference" params="prefix='' name='mobilebase' suffix=''">
		<gazebo reference="j/${prefix}${name}${suffix}doublebar/_">
			<implicitSpringDamper>true</implicitSpringDamper>
			<springStiffness>200</springStiffness>
			<springReference>0.0</springReference>
		</gazebo>
		<gazebo reference="j/${prefix}${name}${suffix}control">
			<implicitSpringDamper>true</implicitSpringDamper>
			<springStiffness>200</springStiffness>
			<springReference>0.0</springReference>
		</gazebo>
		<xacro:doublebar-gz_reference prefix="${prefix}${name}${suffix}" suffix="/"></xacro:doublebar-gz_reference>
		<xacro:castor-gz_reference prefix="${prefix}${name}${suffix}" suffix="0/"></xacro:castor-gz_reference>
		<xacro:castor-gz_reference prefix="${prefix}${name}${suffix}" suffix="1/"></xacro:castor-gz_reference>
	</xacro:macro>
</robot>