<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rigid_forklift_wide">
	<xacro:arg name="robot_name" default="transbot"></xacro:arg>
	<xacro:arg name="ros2_control_namespace" default="/transbot"></xacro:arg>
	<xacro:arg name="ros2_control_dict" default="rigid_forklift_wide.yaml"></xacro:arg>
	<xacro:arg name="ros2_control_pkg" default="transbot_controller"></xacro:arg>
	<xacro:arg name="gz_odometry_frame_prefix" default=""></xacro:arg>
	<xacro:arg name="gz_odometry_frame" default="odom"></xacro:arg>
	<xacro:property name="_ros2_control_pkg" value="$(arg ros2_control_pkg)"></xacro:property>
	<xacro:property name="_ros2_control_path" value="$(find ${_ros2_control_pkg})"></xacro:property>
	<xacro:include filename="$(find transbot_description)/urdf/rigid_forklift_wide/__all__.urdf.xacro"></xacro:include>
	<xacro:include filename="$(find transbot_gazebo)/urdf/rigid_forklift_wide/rigid_forklift_wide.urdf.xacro"></xacro:include>
	<xacro:include filename="$(find transbot_gazebo)/urdf/rigid_forklift_wide/__extras__.urdf.xacro"></xacro:include>
	<gazebo>
		<plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
			<parameters>${_ros2_control_path}/config/$(arg ros2_control_dict)</parameters>
			<ros>
				<namespace>$(arg ros2_control_namespace)</namespace>
			</ros>
		</plugin>
	</gazebo>
	<gazebo>
		<plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher">
			<odom_frame>$(arg gz_odometry_frame_prefix)/$(arg gz_odometry_frame)</odom_frame>
			<robot_base_frame>$(arg gz_odometry_frame_prefix)/gz_gtruth</robot_base_frame>
			<odom_topic>/model/$(arg robot_name)/ground_truth/odometry</odom_topic>
			<tf_topic>/model/$(arg robot_name)/ground_truth/pose</tf_topic>
			<odom_publish_rate>50</odom_publish_rate>
			<dimensions>3</dimensions>
			<gaussian_noise>0.0</gaussian_noise>
		</plugin>
	</gazebo>
	<xacro:rigid_forklift_wide-gz_reference prefix="" name=""></xacro:rigid_forklift_wide-gz_reference>
	<ros2_control name="GazeboSimSystem" type="system">
		<hardware>
			<plugin>gz_ros2_control/GazeboSimSystem</plugin>
		</hardware>
		<xacro:rigid_forklift_wide-ros2_control_gazebo prefix="" name=""></xacro:rigid_forklift_wide-ros2_control_gazebo>
	</ros2_control>
</robot>