<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="manipulator">
	<xacro:include filename="$(find transbot_description)/urdf/rigid_forklift_dsusp_rr_inner/manipulator.urdf.xacro"></xacro:include>
	<xacro:manipulator prefix="" name=""></xacro:manipulator>
</robot>