<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rigid_forklift_dsusp_rr_inner">
	<xacro:include filename="$(find transbot_description)/urdf/rigid_forklift_dsusp_rr_inner/rigid_forklift_dsusp_rr_inner.urdf.xacro"></xacro:include>
	<xacro:rigid_forklift_dsusp_rr_inner prefix="" name=""></xacro:rigid_forklift_dsusp_rr_inner>
</robot>