<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rigid_forklift_dsusp_rr_inner">
	<xacro:macro name="rigid_forklift_dsusp_rr_inner" params="prefix='' name='rigid_forklift_dsusp_rr_inner' suffix=''">
		<link name="${prefix}${name}${suffix}_"></link>
		<xacro:include filename="$(find transbot_description)/urdf/rigid_forklift_dsusp_rr_inner/mobilebase/mobilebase.urdf.xacro"></xacro:include>
		<xacro:include filename="$(find transbot_description)/urdf/rigid_forklift_dsusp_rr_inner/manipulator/manipulator.urdf.xacro"></xacro:include>
		<joint name="j/${prefix}${name}${suffix}mobilebase/_" type="fixed">
			<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 3.141592653589793"></origin>
			<parent link="${prefix}${name}${suffix}_"></parent>
			<child link="${prefix}${name}${suffix}mobilebase/_"></child>
		</joint>
		<joint name="j/${prefix}${name}${suffix}manipulator/_" type="prismatic">
			<origin xyz="0.35000000000000003 0.0 0.13" rpy="0.0 0.0 0.0"></origin>
			<parent link="${prefix}${name}${suffix}_"></parent>
			<child link="${prefix}${name}${suffix}manipulator/_"></child>
			<axis xyz="-1 0 0"></axis>
			<limit lower="0.0" upper="0.7000000000000001" effort="1000000.0" velocity="1000000.0"></limit>
		</joint>
		<xacro:mobilebase prefix="${prefix}${name}${suffix}" suffix="/"></xacro:mobilebase>
		<xacro:manipulator prefix="${prefix}${name}${suffix}" suffix="/"></xacro:manipulator>
	</xacro:macro>
</robot>